* {
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

body {
  margin: 0;
}

.portfolio {
  margin-top: 336px;
}

.portfolio h4 {
  font-size: 38px;
  font-weight: 900;
  line-height: 3.4rem;
}

.portfolio h3 {
  color: #ff688c;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.6rem;
  padding-bottom: 16px;
}

.portfolio p {
  margin-bottom: 65.19px;
}

.btn-container {
  margin-bottom: 216.96px;
}

button.btn-img {
  border: 1px solid #c4c4c4;
  border-radius: 90px;
  padding: 11.41px 54.01px;
  color: #ff688c;
}

@media screen and (min-width: 1424px) {
  .portfolio h4 {
    padding-left: 21rem;
    padding-right: 21rem;
  }

  .portfolio p {
    padding: 0 29rem;
  }
}

@media screen and (max-width: 575px) {
  .frag-con {
    width: fit-content !important;
    margin: 0 auto !important;
  }
}

.first_word {
    font-weight: 900;
    font-size: 18px;
    line-height: 143.1%;
    color: #FF688C;
} 

.section_4 {
    margin-top: 100px;
}

.section_4 h2 {
    width: 43%;
    margin: 0 auto;
    line-height: 143.1%;
    font-weight: 900;
    font-size: 38px;
}

.section_4 img {
    width: 100%;
    height: 100%;
}

.cards {
    width: 90%;
}

.first-p {
    width: 27%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 153.1%;
    color: #7F7E7E;
}

.section_5 {
    margin-bottom: 150px;
}

.section_5 h2 {
    margin-top: 140px;
    font-weight: 900;
    font-size: 38px;
    line-height: 143.1%;
    color: #000000;
}

.section_5 p {
    width: 40%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 153.1%;
  color: #7F7E7E;
}

.hero_section{
    background: linear-gradient(139.99deg, #3F4FD7 22.82%, rgba(14, 25, 116, 0.86) 82.13%);
}
