* {
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

body {
  margin: 0;
}

.portfolio {
  margin-top: 200px;
}

.portfolio h4 {
  font-size: 38px;
  font-weight: 900;
  line-height: 3.4rem;
}

.service {
  font-weight: 900;
  color: #ff688c;
}

.portfolio h3 {
  color: #ff688c;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.6rem;
  padding-bottom: 16px;
}

.portfolio p {
  margin-bottom: 65.19px;
  font-size: 18px;
}

.btn-container {
  margin-bottom: 216.96px;
}

button.btn-img {
  border: 1px solid #c4c4c4;
  border-radius: 90px;
  padding: 11.41px 54.01px;
  color: #ff688c;
}

.team h2 {
  font-weight: 900;
  font-size: 38px;
}

@media screen and (min-width: 1424px) {
  .portfolio h4 {
    padding-left: 21rem;
    padding-right: 21rem;
  }

  .portfolio p {
    padding: 0 29rem;
  }

  .team h2 {
    padding-left: 21rem;
    padding-right: 21rem;
    line-height: 143.1%;
  }

  .team p {
    padding: 0 29rem;
  }
}

@media screen and (max-width: 575px) {
  .frag-con {
    width: fit-content !important;
    margin: 0 auto !important;
  }
}

.first_word {
  font-weight: 900;
  font-size: 18px;
  line-height: 143.1%;
  color: #ff688c;
}

.section_4 {
  margin-top: 100px;
}

.section_4 img {
  width: 100%;
  height: 100%;
}

.cards {
  width: 90%;
}

.first-p {
  margin: 0 auto;
  font-size: 18px;
  line-height: 153.1%;
  color: #7f7e7e;
}

.service-p {
  font-weight: 900;
}

.section_5 {
  margin-bottom: 150px;
}

.section_5 h2 {
  margin-top: 140px;
  font-weight: 900;
  font-size: 38px;
  line-height: 143.1%;
  color: #000000;
}

.section_5 p {
  margin: 0 auto;
  font-size: 18px;
  line-height: 153.1%;
  color: #7f7e7e;
}

.hero_section {
  background: linear-gradient(
    139.99deg,
    #3f4fd7 22.82%,
    rgba(14, 25, 116, 0.86) 82.13%
  );
}
